#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#Btncontainer{
    text-align: center;
}

.buttons{
    padding: 10px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(180, 148, 219);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: rgb(89, 0, 255);
}